@import "./base/typography.css";
@import "./base/flex.css";
@import "./UI/button.css";

:root {
    --bg-base:      #19181a; /* Основной фон */
    --bg-surface:   #2d2a2e; /* Фон блоков поверх основного */
    --bg-highlight: #383539; /* Фон вложенных или выделенных элементов */
    --bg-header:    #221f22; /* Фон для header и заголовков блоков */

    --bg-projects:  #262427; /* Фон для projects (bg-base Lighten 5%)  */
    --bg-browser:   #201E21; /* Фон для browser (bg-surface Darken 5%)  */

    /* https://toolbark.com/tools/darken-lighten-color */

    --border-dark:  #373537;

    /* Monokai Pro Color Palette */
    --white:  #fdf9f3;
    --light:  #c1c0c0;
    --gray:   #939293;
    --dark:   #727072;
    --red:    #ff6188;
    --orange: #fc9867;
    --yellow: #ffd866;
    --green:  #a9dc76;
    --blue:   #78dce8;
    --purple: #ab9df2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    color-scheme: dark;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: var(--bg-base);
}

.bg-primary { background-color: var(--bg-base); }
.bg-secondary { background-color: var(--bg-surface); }

hr {
    border: none;
    border-top: 1px solid var(--dark);
}