/* Секция Hero */
.hero {
    width: 100%;
    height: 720px;
    position: relative;
}

/* Контейнер с содержимым секции */
.hero__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
}

/* Кнопки управления эффектами секции */
.hero__effects-controls {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.hero__effects-controls button {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid var(--border-gray);
    background-color: var(--button-default);

    & svg {
        stroke: var(--gray);
        transition: stroke 0.15s ease;
    }

    @media (hover: hover) {
        &:is(:hover, :focus-visible) {
            background-color: var(--button-default-hover);
        }
    }

    &:active {
        background-color: var(--button-default-hover);
    }
}

button.hero__effects-control--active {
    border-color: var(--purple);
        
    & svg {
        stroke: var(--purple);
    }
}

/* Контент секции */
.hero__content {
    display: flex;
    gap: var(--gap-6);
    padding: var(--gap-2);
    position: relative;
    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

/* Обвертка для блока hero-bio и hero__buttons */
.hero__side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

/* Кнопки связи и проектов */
.hero__buttons {
    margin-bottom: 30px;
}

.hero__button {
    --accent-color: var(--gray);
    --hover-accent-color: var(--white);
    height: 48px;
    padding: 16px;
    color: var(--bg-surface);
    font-weight: var(--fw-bold);

    border: none;
    outline: 4px solid #00000000;
    background-color: var(--accent-color);
    outline-offset: 4px;

    @media (hover: hover) {
        &:is(:hover, :focus-visible) {
            background-color: var(--hover-accent-color);
            outline-color: var(--hover-accent-color);
        }
    }

    &:active {
        background-color: var(--hover-accent-color);
        outline-color: var(--hover-accent-color);
    }
}

.hero__button--hire {
    --accent-color: var(--orange);
    --hover-accent-color: #fb8044;
}
.hero__button--projects {
    --accent-color: var(--yellow);
    --hover-accent-color: #ffcf42;
}