.card-swap-container {
    position: absolute;
    top: 100px;
    right: 100px;
    transform: translate(5%, 20%);
    transform-origin: bottom right;

    perspective: 900px;
    overflow: visible;
}

@media (max-width: 768px) {
    .card-swap-container {
        transform: scale(0.75) translate(25%, 25%);
    }
}

@media (max-width: 480px) {
    .card-swap-container {
        transform: scale(0.55) translate(25%, 25%);
    }
}
