.project {
    --accent-color: var(--gray);
    width: 100%;
}

.project__content {
    padding: var(--gap-7);
}

.project__title {
    display: flex;
    gap: var(--gap-2);
    align-items: center;
    margin-bottom: var(--gap-2);

    & span {
        font-family: var(--font-heading);
        font-weight: var(--fw-bold);
        font-size: var(--fs-xlarge);
    }
}

/* Открыть / Закрыть галерею */
.project__gallery-toggle {
    height: 32px;
    padding: 0 var(--gap-4);

    border-radius: 4px;
    border: 1px solid var(--accent-color);
    background-color: color-mix(in srgb, var(--accent-color) 10%, transparent);

    color: var(--accent-color);

    margin-left: auto;
}

/* Тип карточки */
.project__type {
    --size: 8px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    background-color: var(--accent-color);
}

/* Мета информация о проекте */
.project__meta {
    display: flex;
    gap: var(--gap-5);

    & span {
        font-family: var(--font-console);
        font-size: var(--fs-tiny);
        color: var(--dark-gray);
    }
}

.project__separator {
    width: 100%;
    display: flex;
    align-items: center;
    margin: var(--gap-5) 0;

    & span {
        font-family: var(--font-console);
        color: var(--gray);
        padding: 0 var(--gap-2);
    }

    & hr {
        width: 100%;
        border-color: var(--border-gray);
    }
}