.browser {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid var(--border-gray);
    background-color: var(--bg-browser);
    overflow: hidden;
}

.browser__body {
    display: flex;
}

.browser__content {
    flex: 1;
    padding: var(--gap-4);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-4);
}