.browser {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid var(--border-gray);
    background-color: var(--bg-browser);
    overflow: hidden;
}

.browser__body {
    height: 642px;
    display: flex;
}

.browser__content {
    flex: 1;
    min-width: 0;
    overflow-y: auto;
}

.browser__card-grid {
    padding: var(--gap-4);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    align-content: start;
    gap: var(--gap-4);

    &.browser__card-grid--two-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    &.browser__card-grid--two-columns .card__image {
        height: 210px;
    }
}