.hero-block {
    overflow: hidden;
    border-radius: 8px;

    backdrop-filter: blur(12px);
    border: 1px solid var(--border-color);
    box-shadow: 4px 4px 30px #00000080;
    background-color: var(--bg-surface);
}

/* Изначально прозрачность включена */
.hero-block--transparent {
    background-color: transparent;
}

/* Заголовок блока */
.hero-block__header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-header);
    padding: var(--gap-2);

    & span {
        font-family: var(--font-console);
    }
}

/* Переключение прозрачности */
.hero-block__header-toggle {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: background-color 0.15s ease;
        
    & svg {
        stroke: var(--gray);
    }

    @media (hover: hover) {
        &:is(:hover, :focus-visible) {
            background-color: var(--bg-highlight);
        }
    }

    &:active {
        background-color: var(--bg-highlight);
    }
}

/* Если нажат - отключение прозрачности */
.hero-block__header-toggle--active {
    background-color: var(--bg-highlight);
}

/* Часть с children */
.hero-block__inner {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    padding: var(--gap-4);
}

/* Блок с краткой информацией */
.hero-info {
    align-items: center;

    & code {
        /* Фиксированная ширина, чтобы не скакала при смене языка */
        width: 100%;
    }
}

.hero-info__pic {
    border-radius: 8px;
}

/* Блок с текстовым описанием */
.hero-bio {
    width: 700px;
    height: fit-content;
    
    & p {
        line-height: 1.4;
    }

    & hr {
        margin-top: var(--gap-4);
        padding-bottom: var(--gap-4);
    }
}

/* Ссылки в hero-bio */
.hero-block .hero-bio__link {
    --accent-color: var(--gray);
    text-transform: uppercase;
    font-size: var(--fs-small);
    font-family: var(--font-console);
    border: none;

    color: var(--accent-color);
    outline: 2px solid var(--accent-color);
    transition: outline-color 0.15s ease;
    background-color: color-mix(in srgb, var(--accent-color) 10%, var(--button-default));

    & svg {
        width: 20px;
        height: 20px;
        transition: fill 0.15s ease;
        fill: var(--accent-color)
    }
}

/* Когда прозрачность включена - у кнопок прозрачный фон */
.hero-block.hero-block--transparent .hero-bio__link {
    background-color: color-mix(in srgb, var(--accent-color) 20%, transparent);
}

.hero-block .hero-bio__link--github {
    --accent-color: var(--green);
}

.hero-block .hero-bio__link--telegram {
    --accent-color: var(--blue);
}

.hero-block .hero-bio__link--gmail {
    --accent-color: var(--red);
}

@media (hover: hover) {
    .hero-block .hero-bio__link:is(:hover, :focus-visible) {
        color: var(--bg-header);
        outline-color: #00000000;
        background-color: var(--accent-color);
        & svg { fill: var(--bg-header) }
    }
}

@media (hover: none) {
    .hero-block .hero-bio__link:active {
        color: var(--bg-header);
        outline-color: #00000000;
        background-color: var(--accent-color);
        & svg { fill: var(--bg-header) }
    }
}