:root {
    /* Цвета кнопок */
    --button-default:         var(--bg-surface);
    --button-default-hover:   var(--bg-highlight);
    /* --button-accent:          var(--red-light); */
    /* --button-accent-hover:    #D73740; */
    /* --button-tp:               transparent; */
    /* --button-tp-hover:        #261211; */
    /* --button-outlined:         transparent; */
    /* --button-outlined-border: #6E1F23; */
    /* --button-outlined-hover:  #371112; */
    /* --button-active:          #2E3336; */
    /* --button-disabled:        #88252A; */

    /* Размеры кнопки */
    --button-height: 40px;
}

/* Отключаем стили у стандартной кнопки */
/* Подходит для любых интерактивных элементов */
button {
    padding: 0;
    border-radius: 0;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: var(--font-primary);
    color: var(--white);
    cursor: pointer;
}

/* Стили для кнопки */
/* Подходит для любых элементов которым надо придать стандартные для кнопки стили */
.button {
    min-width: var(--button-height);
    height: var(--button-height);
    min-height: var(--button-height);
    padding: 0 var(--gap-2);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-2);

    font-family: var(--font-primary);
    color: var(--white);
    text-decoration: none;

    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--button-default);

    overflow: hidden;
    user-select: none;
    cursor: pointer;
    transition:
        background-color 0.15s ease-out,
        border-color 0.15s ease-out,
        color 0.15s ease-out,
        transform 0.15s ease-out;

    @media (hover: hover) {
        &:is(:hover, :focus-visible) {
            background-color: var(--button-default-hover);
        }
    }

    &:active {
        background-color: var(--button-default-hover);
    }
}

/* Обводка при табуляции */
:is(button, .button):focus-visible { outline: 2px solid var(--yellow); }