.hero {
    width: 100%;
    height: 700px;
    position: relative;
}

.hero__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
}

.hero__content {
    display: flex;
    gap: var(--gap-6);
    padding: var(--gap-2);
    position: relative;
    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

/* Обвертка для блока hero-bio и hero__buttons */
.hero__side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

/* Кнопки связи и проектов */
.hero__buttons {
    margin-bottom: 30px;
}

.hero__button {
    height: 48px;
    padding: 16px;
    color: var(--bg-surface);
    font-weight: var(--fw-bold);

    border: none;
    outline: 4px solid #00000000;
    outline-offset: 4px;
    transition: outline-color .15s ease;
}

.hero__button--hire {
    background-color: var(--orange);
}

.hero__button--projects {
    background-color: var(--yellow);
}

@media (hover: hover) {
    .hero__button--hire:is(:hover, :focus-visible) {
        background-color: #fb8044;
        outline-color: #fb8044;
    }
    
    .hero__button--projects:is(:hover, :focus-visible) {
        background-color: #ffcf42;
        outline-color: #ffcf42;
    }
}

@media (hover: none) {
    .hero__button--hire:active {
        background-color: #fb8044;
        outline-color: #fb8044;
    }

    .hero__button--projects:active {
        background-color: #ffcf42;
        outline-color: #ffcf42;
    }
}