/* Контейнер с картинкой и иконкой */
.project-gallery__preview {
    width: 100%;
    position: relative;
}

/* Кнопка с картинкой которая открывает полную галерею */
.project-gallery__preview-button {
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
    transition: height 0.15s ease;

    & img {
        object-fit: cover;
        object-position: top;
        transform: scale(1.02);
        filter: blur(4px);
        transition:
            filter 0.15s ease,
            transform 0.15s ease;
    }

    @media (hover: hover) {
        &:is(:hover, :focus-visible) {
            height: 280px;

            & img {
                transform: scale(1.04);
                filter: blur(0px);
            }
        }
    }

    &:active {
        height: 280px;

        & img {
            transform: scale(1.04);
            filter: blur(0px);
        }
    }
}

/* Иконка сайта */
.project-gallery__preview-favicon {
    position: absolute;
    bottom: -24px;
    left: var(--gap-7);
    border-radius: 96px;
}

/* Галерея картинок */
.project-gallery {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: var(--gap-3);
    padding: 0 var(--gap-3);

    background-color: var(--bg-browser-sidebar);
}

/* Окно с отображаемой картинкой */
.project-gallery__main {
    flex: 7;
    position: relative;
    aspect-ratio: 1500 / 932;
    overflow: hidden;
    margin: var(--gap-3) 0;

    border: 1px solid var(--border-gray);
    border-radius: 4px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Контейнер для прокрутки */
.project-gallery__thumbnails {
    position: relative;
    flex: 3;
    min-width: 0;
}

/* Прокручиваемый список картинок */
.project-gallery__thumbnails-list {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    padding: var(--gap-3) 0;

    overflow-y: auto;
}

/* Элемент в списке */
.project-gallery__thumbnail {
    position: relative;
    width: 100%;
    aspect-ratio: 1500 / 932;
    flex-shrink: 0;

    border: 1px solid var(--border-gray);
    border-radius: 4px;
    overflow: hidden;
    transition: border-color 0.15s ease;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (hover: hover) {
        &:is(:hover, :focus-visible) {
            border-color: color-mix(in srgb, var(--accent-color) 50%, transparent);
        }
    }

    &:active {
        border-color: color-mix(in srgb, var(--accent-color) 50%, transparent);
    }

    &.project-gallery__thumbnail--active {
        border-color: var(--accent-color);
    }
}

/* Индекс картинки */
.project-gallery__thumbnail-counter {
    position: absolute;
    bottom: 6px;
    right: 6px;

    width: 20px;
    height: 18px;
    background-color: color-mix(in srgb, var(--bg-surface) 75%, transparent);
    border-radius: 3px;

    font-family: var(--font-console);
    font-size: var(--fs-tiny);
    color: var(--gray);
}