.language-switcher {
    width: fit-content;
    height: 32px;
    padding: 3px;
    overflow: hidden;
    align-items: center;

    border-radius: 8px;
    border: 1px solid var(--border-dark);
    background-color: var(--bg-surface);
}

.language-switcher button {
    width: 32px;
    height: 24px;
    border-radius: 5px;

    font-family: var(--font-console);
    font-size: var(--fs-tiny);
    color: var(--gray);
    text-transform: uppercase;

    @media (hover: hover) {
        &:is(:hover, :focus-visible) {
            color: var(--white);
        }
    }
    &:active {
        color: var(--white);
    }
}

.language-switcher button.selected {
    background-color: var(--purple);
    color: var(--bg-surface);
}