.browser {
    width: min(1616px, 100%);
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid var(--purple);
    background-color: var(--bg-browser);
    overflow: hidden;
}

.browser__body {
    display: flex;
}

.browser__sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    padding: var(--gap-5);
    align-items: flex-start;
    background-color: var(--bg-surface);
    border-right: 1px solid rgb(78, 80, 95);
}

.browser__sidebar button {
    width: 230px;
    height: 40px;
    padding: var(--gap-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;

    @media (hover: hover) {
        &:is(:hover, :focus-visible) {
            background-color: var(--button-default-hover);
        }
    }

    &:active {
        background-color: var(--button-default-hover);
    }
}

.browser__sidebar-button--selected {
    background-color: var(--button-default-hover);
    border: 1px solid var(--purple);
}

.browser__content {
    width: 100%;
    padding: var(--gap-5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-4);
}