.browser {
    width: min(1600px, 100%);
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid var(--purple);
    background-color: var(--bg-browser);
    overflow: hidden;
}

.browser__body {
    display: flex;
}

.browser__content {
    width: 100%;
    padding: var(--gap-5);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-4);
}