nav ul li button {
    height: 32px;
    display: flex;
    align-items: center;
    gap: var(--gap-1);
    border-radius: 8px;
    padding: 6px 12px;

    font-size: var(--fs-small);
    color: var(--gray);

    @media (hover: hover) {
        &:is(:hover, :focus-visible) {
            background-color: var(--bg-surface);
            color: var(--white);
        }
    }

    &:active {
        background-color: var(--bg-surface);
        color: var(--white);
    }
}