:root {
    /* Размеры текста */
    --fs-xxlarge: 50px;
    --fs-xlarge:  24px;
    --fs-large:   20px;
    --fs-medium:  16px;
    --fs-small:   14px;
    --fs-tiny:    12px;

    /* Жирность текста */
    --fw-bold:      700;
    --fw-semibold:  600;
    --fw-medium:    500;
    --fw-regular:   400;

    --font-primary: var(--font-comfortaa), sans-serif;
    --font-secondary: var(--font-balsamiq), sans-serif;
    --font-console: Consolas, "Courier New", monospace;
}

/* Мобильная версия */
@media screen and (max-width: 900px) {
    :root {
        --fs-xxlarge: 28px;
        --fs-xlarge:  24px;
        --fs-large:   18px;
        --fs-medium:  14px;
        --fs-small:   12px;
        --fs-tiny :   10px;
    }
}

* {
    font-family: var(--font-primary);
    font-weight: var(--fw-regular);
    color: var(--white);
    /* overflow-wrap: break-word; */
}

code {
    font-family: var(--font-console);
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;

    & * {
        font-family: var(--font-console);
    }
}

.font-primary   { font-family: var(--font-primary); }   /* Основной шрифт */
.font-secondary { font-family: var(--font-secondary); } /* Второстепенный шрифт для заголовков */
.font-console   { font-family: var(--font-console); }   /* Шрифт для консольного текста */

/* Размер текста */
h1, .h1 { font-size: var(--fs-xlarge); font-weight: var(--fw-bold); }
h2, .h2 { font-size: var(--fs-xlarge); font-weight: var(--fw-semibold); }
h3, .h3 { font-size: var(--fs-large);  font-weight: var(--fw-semibold); }
h4, .h4 { font-size: var(--fs-large);  font-weight: var(--fw-semibold); }
p, .p, span, label { font-size: var(--fs-medium); }
.fs-xxlarge  { font-size: var(--fs-xxlarge); }
.fs-xlarge   { font-size: var(--fs-xlarge); }
.fs-large    { font-size: var(--fs-large); }
.fs-medium   { font-size: var(--fs-medium); }
.fs-small    { font-size: var(--fs-small); }
.fs-tiny     { font-size: var(--fs-tiny); }

/* Толщина текста */
.fw-bold     { font-weight: var(--fw-bold); }
.fw-semibold { font-weight: var(--fw-semibold); }
.fw-medium   { font-weight: var(--fw-medium); }
.fw-regular  { font-weight: var(--fw-regular); }

/* Цвет текста */
.text-white  { color: var(--white); }
.text-light  { color: var(--light); }
.text-gray   { color: var(--gray); }
.text-red    { color: var(--red); }
.text-orange { color: var(--orange); }
.text-yellow { color: var(--yellow); }
.text-green  { color: var(--green); }
.text-blue   { color: var(--blue); }
.text-purple { color: var(--purple); }

/* Текст по центру */
.text-center { text-align: center;}

/* Текст без декораций */
.text-decoration-none { text-decoration: none; }

/* Подчеркнутый текст */
.text-underline { text-decoration: underline; }

/* Тег Link */
a {
    font-size: var(--fs-medium);
    color: var(--purple);
}

.text-link {
    font-size: var(--fs-medium);
    color: var(--purple);
    text-decoration: underline;
    cursor: pointer;
}